{#
* Copyright © Lyra Network.
* This file is part of Lyra Collect plugin for Sylius. See COPYING.md for license details.
*
* @author    Lyra Network (https://www.lyra.com/)
* @copyright Lyra Network
* @license   https://opensource.org/licenses/mit-license.html The MIT License (MIT)
#}

{% set methodCode = '' %}
{% if instanceCode is defined %}
    {% set methodCode = instanceCode %}
{% else %}
    {% set methodCode = method.code %}
{% endif %}

{% set lyraFormConfig = lyra_get_smartform_config(methodCode) %}

{% if order is defined %}
    {% set formToken, popin, dataEntryMode, logoHeader = lyra_get_smartform_token(order, methodCode, paymentRequestHash).formToken, '', '', '' %}
    {% set single = '' %}
    {% if lyraFormConfig.popinMode %}
        {% set popin = 'kr-popin' %}
        {% set single = '' %}
    {% endif %}

    {% if lyraFormConfig.cardDataEntryMode is same as('MODE_SMARTFORM_EXT_WITH_LOGOS') or lyraFormConfig.cardDataEntryMode is same as('MODE_SMARTFORM_EXT_WITHOUT_LOGOS') %}
        {% set dataEntryMode = 'kr-card-form-expanded' %}
    {% endif %}

    {% if lyraFormConfig.cardDataEntryMode is same as('MODE_SMARTFORM_EXT_WITHOUT_LOGOS') %}
        {% set logoHeader = 'kr-no-card-logo-header ' %}
    {% endif %}
{% elseif accountToken is not empty %}
    {% set formToken, returnUrl, popin, dataEntryMode, logoHeader, single = accountToken, path('lyra_sylius_account_saved_cards'), '', 'kr-card-form-expanded', '', '' %}
{% endif %}

<div id="lyraPaymentMethodForm">
    <script src="{{ lyraFormConfig.jsClient }}js/krypton-client/V4.0/stable/kr-payment-form.min.js"
            kr-public-key="{{ lyraFormConfig.pubKey }}"
            kr-language="{{ lyraFormConfig.language }}"
            kr-post-url-success="{{ returnUrl }}"
            kr-post-url-refused="{{ returnUrl }}"
    ></script>
    <link rel="stylesheet" href="{{ lyraFormConfig.jsClient }}js/krypton-client/V4.0/ext/{{ lyraFormConfig.theme }}-reset.css">
    <script src="{{ lyraFormConfig.jsClient }}js/krypton-client/V4.0/ext/{{ lyraFormConfig.theme }}.js"></script>

    <div class="kr-smart-form" {{ single }} {{ popin }} {{ dataEntryMode }} {{ logoHeader }} kr-form-token="{{formToken}}" style="z-index: 3; width: 100%;"></div>
    {% if order is defined %}
        <script>
            function configureSmartform() {
                if ('{{lyraFormConfig.compactMode}}') {
                    KR.setFormConfig({ cardForm: { layout: "compact" }, smartForm: { layout: "compact" }});
                }

                KR.setFormConfig({
                    language: '{{lyraFormConfig.language}}',
                    form: { smartform: { singlePaymentButton: { visibility: false }}}
                });
            }

            document.addEventListener("DOMContentLoaded", configureSmartform, false);
        </script>
    {% endif %}
</div>